
:root {
  --primary-bg: #2e3440;
  --secondary-bg: #3b4252;
  --primary-color: #88c0d0;
  --secondary-color: #81a1c1;
  --success-color: #a3be8c;
  --danger-color: #bf616a;
  --transition-speed: 0.3s;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


body {
  background-color: var(--primary-bg);
  color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  transition: var(--transition-speed);
  overflow-x: hidden;
}

main {
  max-width: 500px;
  margin: 80px auto;
  padding: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  background: var(--secondary-bg);
  border-radius: 20px;
  transition: var(--transition-speed);
}


div.board {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  border: 3px solid var(--secondary-color);
  border-radius: 20px;
  transition: var(--transition-speed);
}

div.square {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--primary-color);
  font-size: 4.5rem;
  transition: var(--transition-speed) transform, background-color, color;
  border-radius: 15px;
  user-select: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

div.square:hover {
  background: var(--primary-color);
  color: var(--secondary-bg);
  transform: translateY(-5px);
}


div.result {
  font-size: 2.8rem;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  border-radius: 15px;
  transition: var(--transition-speed);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

div.result.green {
  background-color: var(--success-color);
  color: var(--primary-bg);
}

div.result.red {
  background-color: var(--danger-color);
  color: var(--primary-bg);
}


.reset-button {
  display: block;
  margin: 40px auto 0;
  padding: 15px 30px;
  background-color: var(--primary-color);
  color: var(--primary-bg);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: var(--transition-speed) transform, background-color;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.reset-button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-5px);
}

.reset-button:active {
  transform: translateY(0);
}

/* Player Input Styles */
.player-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.player-input label {
  font-size: 1.3rem;
  margin-bottom: 12px;
  color: var(--primary-color);
}

.player-input input {
  padding: 12px 15px;
  border: 3px solid var(--primary-color);
  border-radius: 15px;
  font-size: 1.1rem;
  background: var(--primary-bg);
  color: var(--primary-color);
  outline: none;
  transition: border-color var(--transition-speed), transform;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.player-input input:focus {
  border-color: var(--secondary-color);
  transform: translateY(-3px);
}

.player-input input::placeholder {
  color: var(--secondary-color);
}


.top-scores {
  margin-top: 40px;
  border: 3px solid var(--secondary-color);
  padding: 25px;
  border-radius: 20px;
  transition: var(--transition-speed);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.top-scores h2 {
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.top-scores ul {
  list-style-type: none;
  padding: 0;
}

.top-scores li {
  padding: 10px 0;
  border-bottom: 2px dashed var(--primary-color);
  font-size: 1.3rem;
}

.top-scores li:last-child {
  border-bottom: none;
}


.error-message {
  color: var(--danger-color);
  margin-top: 15px;
  font-weight: 700;
  font-size: 1.2rem;
}
